@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  src: url("../imports/typography/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'Montserrat Thin';
  font-style: normal;
  src: url("../imports/typography/Montserrat-Regular.ttf"); }

@font-face {
  font-family: 'Bebas';
  font-style: normal;
  src: url("../imports/typography/BebasNeue-Regular.ttf"); }

@font-face {
  font-family: 'Wensley';
  font-style: normal;
  src: url("../imports/typography/Wensley.ttf"); }

body {
  background-color: #fbfbfb;
  margin: 0; }

.vcenter {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }

.header {
  align-items: center;
  background-color: black;
  height: 30rem;
  max-width: 100vw;
  margin: auto;
  padding: 0;
  text-align: center;
  z-index: 15; }

.header__title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 2rem;
  font-weight: bold; }

.header__img {
  padding: 1rem;
  width: 80%; }

.header__menu {
  color: black;
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  margin: auto;
  transition: background-color .2s;
  position: absolute;
  width: 100vw;
  z-index: 0; }

.header__menu .header__menu__link {
  text-align: center; }

.header__menu a {
  display: block; }

.header__menu__link {
  border-top: 1px white solid;
  color: black;
  font-size: 2rem;
  height: 2rem;
  opacity: 0;
  visibility: hidden;
  padding-top: 2.5rem;
  position: relative;
  text-decoration: none;
  transition: opacity .2s, visibility .2s;
  vertical-align: middle; }

.header__menu__link:hover {
  opacity: .3; }

.header__menu__link--languages {
  color: #656262;
  font-weight: normal; }

.icon--menu {
  fill: white;
  height: 4rem;
  padding-top: 5rem;
  transition: fill .2s; }

.header__menu.responsive {
  background-color: white;
  z-index: 20; }
  .header__menu.responsive .header__menu__link {
    opacity: 1;
    visibility: visible;
    padding-bottom: 2rem; }
  .header__menu.responsive .icon--menu {
    fill: black; }

@media only screen and (min-width: 1024px) {
  .header {
    height: auto; }
  .header__grid {
    display: grid;
    grid-template-columns: 20% 80%; }
  .header__title {
    float: left;
    font-size: 3rem; }
  .header__img {
    height: auto;
    width: 15rem;
    padding: .5rem; }
  .header__menu__responsive {
    display: none; }
  .header__menu {
    margin-top: 1rem;
    text-align: center;
    position: static;
    width: auto; }
  .header__menu a {
    display: inline;
    padding: 1.5rem; }
  .header__menu__link {
    color: white;
    font-size: .8rem;
    opacity: 1;
    visibility: visible; }
  .header__menu__link--languages {
    color: #656262;
    padding-right: 2rem; }
  .icon--menu {
    display: none; }
  .header__menu.responsive {
    background-color: transparent; } }

.footer {
  background: black;
  margin: auto;
  max-width: 100vw;
  min-height: 100px;
  position: relative;
  z-index: 15; }

.footer__flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  padding: 0 2rem 0 2rem; }

.footer__flex__box {
  flex: 0 1 100%; }

.footer__flex .footer__flex__box {
  padding: 20px 0 0 0;
  margin-bottom: 2rem; }

.footer__info {
  color: white;
  font-family: "Bebas", sans-serif;
  font-weight: normal;
  margin-top: .8rem;
  transition: flex .5s; }

.footer__info__link {
  color: white;
  text-decoration: underline; }

.footer__text {
  font-size: 2rem;
  padding-top: 1rem; }

.footer__sponsors {
  margin-top: 1rem;
  text-align: center; }

.footer__sponsors__img {
  width: 4.5rem;
  padding: 0 .2rem 0 .2rem;
  transition: opacity .2s; }

.footer__sponsors__img:hover {
  opacity: .6; }

.footer__sponsors__img--hxc {
  width: 2.5rem; }

.footer__rrss {
  margin-top: 1rem;
  transition: flex .5s; }

.footer__rrss__link {
  text-decoration: none;
  transition: opacity .2s; }

.footer__rrss__link:hover {
  opacity: .6; }

.footer__rrss__link .icon {
  fill: #656262;
  height: 4rem;
  padding: 0 1rem 0 0; }

@media only screen and (min-width: 1024px) {
  .footer__flex {
    text-align: left; }
  .footer__flex__box {
    flex: 0 1 calc(100%/3); }
  .footer__info {
    text-align: left; }
  .footer__text {
    font-size: 1rem; }
  .footer__sponsors {
    text-align: center; }
  .footer__rrss {
    text-align: right; }
  .footer__rrss .icon {
    height: 2rem; } }

.music {
  margin: auto;
  max-width: 1280px;
  position: relative;
  z-index: 5; }

.music__head__link {
  text-align: center;
  text-decoration: none; }

.music__head__grid {
  background: url("../img/music/back.jpg") no-repeat;
  background-size: auto 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  min-height: 30rem;
  width: 100%; }

.music__head__description {
  color: white;
  font-family: "Wensley", sans-serif;
  font-size: 2rem;
  padding-top: 5rem; }

.music__head__img {
  width: 50%;
  padding-left: 15rem;
  opacity: .8; }

.music__head__rrss .icon {
  height: 20px;
  padding: 0 20px 20px 0;
  opacity: .8; }

.music__head__rrss .icon--spotify {
  fill: #1db954; }

.music__head__rrss .icon--youtube {
  fill: #cc181e; }

.music__albums {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }

.music__album {
  flex: 0 1 100%;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 2.5rem;
  margin: auto;
  position: relative;
  text-align: center; }

.music__album__link {
  color: white;
  text-decoration: none; }

.music__info {
  background-color: rgba(0, 0, 0, 0.95);
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
  transition: opacity .2s; }

.music__info:hover {
  opacity: 1; }

.music__album__img {
  width: 100vw; }

@media only screen and (min-width: 1024px) {
  .music__head__grid {
    background-size: 100% auto;
    grid-template-columns: 50% 50%; }
  .music__head__description {
    padding-top: 0rem;
    font-size: 1.5rem; }
  .music__head__img {
    padding-left: 10rem; }
  .music__head__rrss .icon {
    height: 2rem; }
  .music__albums {
    flex-flow: row wrap; }
  .music__album {
    flex: 0 1 calc(100%/3);
    font-size: 1rem; }
  .music__album__img {
    width: 100%; } }

.store {
  margin: auto;
  max-width: 1280px;
  position: relative;
  z-index: 5; }

.store__title {
  font-family: "Bebas", sans-serif;
  font-size: 5rem;
  padding-top: 5rem;
  text-align: center; }

.store__products {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin-bottom: 5rem; }

.store__product {
  font-family: "Montserrat Bold", sans-serif;
  position: relative;
  text-align: center;
  overflow: hidden; }

.store__img {
  width: 100%; }

.store__description {
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  height: 100%;
  position: absolute;
  top: 0;
  transition: opacity .2s;
  opacity: 0;
  z-index: 10;
  width: 100%; }

.store__description:hover {
  opacity: 1; }

.store__note {
  border: 3px black solid;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 2rem;
  margin-bottom: 5rem;
  padding: 2rem;
  text-align: center; }

@media only screen and (min-width: 1024px) {
  .store__title {
    font-size: 5rem;
    font-style: bold; }
  .store__products {
    flex-flow: row wrap; }
  .store__product {
    flex: 0 1 calc(100%/3);
    overflow: initial; }
  .store__img {
    width: 100%;
    height: 100%; } }

.tour-dates {
  margin: auto;
  max-width: 780px;
  position: relative;
  text-align: center;
  z-index: 5; }

.tour-dates__title {
  font-family: "Bebas", sans-serif;
  font-size: 5rem;
  font-style: bold;
  padding: 5rem 2rem 5rem 2rem; }

.tour-dates__tour-dates {
  font-family: "Montserrat Bold", sans-serif;
  padding-bottom: 5rem; }

.tour-dates__tour-date {
  margin-bottom: 1rem;
  transition: background 0.2s, color 0.2s; }

.tour-dates__tour-date:hover {
  background: #656262;
  color: white; }
  .tour-dates__tour-date:hover .tour-dates__date, .tour-dates__tour-date:hover .tour-dates__info h3 {
    color: white; }

.tour-dates__grid {
  border-collapse: collapse;
  display: grid;
  grid-template-columns: 20% 50% 15% 15%;
  text-align: left; }

.tour-dates__date {
  color: #656262;
  text-align: center;
  transition: color .2s; }

.tour-dates__info {
  padding: 1rem; }

.icon--location {
  height: 1rem; }

.tour-dates__info h3 {
  color: #656262;
  font-weight: normal;
  transition: color .2s; }

.icon--facebook1, .icon--tickets {
  height: 3rem;
  transition: opacity .2s; }

.icon--facebook1:hover, .icon--tickets:hover {
  opacity: .2; }

@media only screen and (min-width: 1024px) {
  .tour-dates__title {
    font-size: 5rem; }
  .tour-dates__tour-date h2 {
    font-size: 1rem; }
  .tour-dates__tour-date h3 {
    font-size: .8rem; } }

.home {
  background: url("../img/hero.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #656262;
  height: 100vh;
  font-family: "Montserrat Bold", sans-serif;
  display: none;
  max-width: 100vw;
  position: relative;
  text-align: center;
  z-index: 5; }

.home__grid {
  height: 100%;
  display: grid;
  grid-template-rows: 40% 20% 20% 10% 10%; }

.home__img {
  padding-top: 100px;
  height: 5rem; }

.home__menu {
  font-size: 1.5rem; }

.home__menu__link {
  color: #656262;
  text-decoration: none;
  transition: opacity .2s;
  padding: 0 2rem 0 0; }

.home__menu__link:hover {
  opacity: .5; }

.home__languages__link {
  color: #656262;
  text-decoration: none;
  transition: opacity .2s; }

.home__languages__link:hover {
  opacity: .5; }

.home__rrss__link {
  text-decoration: none;
  transition: opacity .2s;
  padding: 0 1.5rem 0 0; }

.home__rrss__link:hover {
  opacity: .5; }

.home__rrss .icon {
  height: 1.8rem; }

.icon--down-arrow {
  height: 5rem;
  opacity: 0;
  animation: scaleIn 1s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32); }

@keyframes scaleIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.contact {
  margin: auto;
  max-width: 780px;
  padding-bottom: 5rem;
  padding-top: 5rem;
  position: relative;
  text-align: center;
  z-index: 5; }

.contact__grid {
  display: grid;
  grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3); }

.contact__title {
  font-family: "Bebas", sans-serif;
  font-size: calc(100vw/10);
  padding-bottom: 5rem; }

.contact__img {
  height: calc(100vw/3);
  padding-top: 3rem; }

.contact__info {
  color: #656262;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 1.5rem;
  text-align: center; }

.contact__info h1 {
  font-size: calc(100vw/25);
  color: black; }

.contact__info h2 {
  font-size: calc(100vw/30); }

.contact__info .icon {
  height: 2rem; }

.contact__booking {
  border-top: 1px rgba(0, 0, 0, 0.2) solid;
  margin-top: 5rem;
  padding-top: 5rem; }

.contact__press {
  border-top: 1px rgba(0, 0, 0, 0.2) solid;
  margin-top: 5rem;
  padding-top: 5rem; }

.contact__img--artgates {
  height: calc(100vw/10); }

.contact__img--imminence {
  height: calc(100vw/6); }

.contact__img--meltdown {
  height: calc(100vw/10); }

@media only screen and (min-width: 1024px) {
  .contact__grid {
    grid-template-columns: 50% 50%; }
  .contact__title {
    grid-column: 1 / 3;
    font-size: 4rem; }
  .contact__img {
    height: 10rem;
    padding-top: 0; }
  .contact__info {
    font-size: 1rem;
    text-align: left; }
  .contact__info h1 {
    font-size: 1.5rem; }
  .contact__info h2 {
    font-size: .8rem; }
  .contact__info .icon {
    height: 1rem; }
  .contact__sep {
    grid-column: 1 / 3; }
  .contact__img--artgates {
    height: 2rem; }
  .contact__img--imminence {
    height: 3.3rem; }
  .contact__img--meltdown {
    height: 2rem; } }

.videos {
  margin: auto;
  max-width: 100vw;
  position: relative;
  z-index: 5; }

.videos iframe {
  border: 0px; }

.videos__principal {
  width: 100%; }

.videos__flex {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap; }

.videos__video {
  flex: 0 1 100%;
  width: 100%; }

.videos__video iframe {
  width: 100%; }

@media only screen and (min-width: 1024px) {
  .videos__principal {
    height: 30rem; }
  .videos__flex {
    flex-flow: row wrap; }
  .videos__video {
    flex: 0 1 50%;
    height: 15rem; }
  .videos__video iframe {
    width: 100%;
    height: 100%; } }

.past-shows {
  background-color: #656262;
  margin: auto;
  max-width: 1280px;
  margin-bottom: 5rem;
  position: relative;
  text-align: center;
  z-index: 5; }

.past-shows__title {
  color: white;
  font-family: "Bebas", sans-serif;
  font-size: 3rem;
  font-style: bold;
  padding: 5rem 2rem 5rem 2rem; }

.past-shows__table {
  color: white;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: .53rem;
  margin: auto;
  width: 95%; }

.past-shows__table td:nth-child(3), .past-shows__table td:nth-child(4), .past-shows__table td:nth-child(5) {
  position: absolute;
  visibility: hidden; }

.past-shows__table--head {
  border-bottom: 3px solid;
  border-color: #dddddd;
  font-weight: bold;
  line-height: 2rem; }

.past-shows__table--body {
  border-top: 1px solid;
  border-color: #dddddd;
  line-height: 3rem; }

.past-shows--link {
  text-decoration: none; }

.past-shows--button:hover {
  transform: scale(0.8); }

.past-shows--button {
  background-color: black;
  border-radius: 9px;
  color: white;
  height: 1.5rem;
  width: auto;
  height: auto;
  transition: transform .2s;
  transform: scale(0.7); }

.past-shows__event, .past-shows__tickets {
  font-style: italic; }

@media only screen and (min-width: 768px) {
  .past-shows__title {
    font-size: 5rem; }
  .past-shows__table {
    font-size: .8rem; }
  .past-shows__table td:nth-child(3), .past-shows__table td:nth-child(4), .past-shows__table td:nth-child(5) {
    position: static;
    visibility: visible; } }

.info {
  font-family: "Montserrat Bold", sans-serif;
  margin: auto;
  margin-top: 5rem;
  max-width: 1280px;
  position: relative;
  text-align: center;
  z-index: 15; }

.info__topimg {
  height: 3rem; }

.info__text {
  column-count: 1;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 2rem;
  margin: auto;
  margin-bottom: 5rem;
  max-width: 780px;
  text-align: justify;
  padding: 5rem 1rem 0 1rem; }

.info__profiles {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; }

.info__box {
  flex: 0 1 100%;
  position: relative; }

.info__img {
  width: 100%; }

.info__instagram {
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  height: 100%;
  position: absolute;
  opacity: 0;
  text-align: center;
  top: 0;
  transition: opacity .2s;
  width: 100%; }

.info__instagram:hover {
  opacity: 1; }

.info__instagram .icon {
  fill: white;
  height: 15rem;
  padding-top: 30rem; }

.info__name {
  padding-top: 2rem;
  font-size: 5rem; }

@media only screen and (min-width: 1024px) {
  .info__text {
    column-count: 2;
    font-size: 1rem; }
  .info__profiles {
    flex-flow: row wrap; }
  .info__box {
    flex: 0 1 calc(100%/5); }
  .info__instagram .icon {
    fill: white;
    height: 3rem;
    padding-top: 8rem; }
  .info__name {
    padding-top: 2rem;
    font-size: 1rem; } }

.media {
  flex-flow: row wrap;
  font-family: "Montserrat Bold", sans-serif;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 780px;
  position: relative;
  z-index: 15; }

.media__box {
  flex: 0 1 100%; }

.media__box h1 {
  font-size: 3rem;
  text-align: center; }

.media__download__item--link .icon {
  height: 2rem; }

.media__download__downloads {
  margin-left: 15rem; }

.media__download__item {
  font-size: 2rem;
  padding-bottom: 2rem; }

.media__photo img {
  width: 100%; }

.media__spotify {
  width: 100%; }

.media__frame {
  width: 100%; }

.media__bio {
  column-count: 1;
  font-size: 2rem;
  margin: auto;
  max-width: 780px;
  text-align: justify;
  padding: 5rem 1rem 0 1rem; }

.spotify {
  background: url("../img/spotify/background.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100vw;
  padding-top: 5rem;
  position: relative;
  z-index: 15; }

.spotify__content {
  max-width: 780px;
  margin: auto;
  text-align: center; }

.spotify__title {
  color: white;
  font-family: "Montserrat Regular", sans-serif;
  padding-top: 5rem; }

.spotify__iframe {
  margin-left: 3rem;
  padding-top: 7rem;
  padding-bottom: 5rem; }
