@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  src: url("../../imports/typography/Montserrat-Bold.ttf"); }

.header {
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 0;
  position: relative;
  z-index: 15; }

.header__grid {
  display: grid;
  grid-template-columns: 70% 30%; }

.header__title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  float: left; }

.header__menu {
  border-radius: 5px;
  color: white;
  float: right;
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  text-align: right;
  transition: background-color .2s; }

.header__menu .header__menu__link {
  text-align: center; }

.header__menu a {
  display: block; }

.header__menu__link {
  border-top: 1px white solid;
  color: white;
  font-size: .5rem;
  height: 2rem;
  opacity: 0;
  visibility: hidden;
  position: relative;
  text-decoration: none;
  transition: opacity .2s, visibility .2s;
  vertical-align: middle; }

.icon--menu {
  height: 1.5rem;
  padding: .5rem;
  transition: fill .2s; }

.header__menu.responsive {
  background-color: #656262; }
  .header__menu.responsive .header__menu__link {
    opacity: 1;
    visibility: visible; }
  .header__menu.responsive .icon--menu {
    fill: white; }

@media only screen and (min-width: 768px) {
  .header__grid {
    grid-template-columns: 60% 40%; }
  .header__title {
    font-size: 3rem; }
  .header__menu__responsive {
    display: none; }
  .header__menu {
    text-align: center;
    padding-top: 1rem; }
  .header__menu a {
    display: inline;
    padding: 1.5rem; }
  .header__menu__link {
    color: #656262;
    font-size: 1rem;
    opacity: 1;
    visibility: visible; }
  .icon--menu {
    display: none; }
  .header__menu.responsive {
    background-color: transparent; } }

.footer {
  margin: auto;
  max-width: 1280px;
  position: relative;
  z-index: 15; }

.footer__flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center; }

.footer__flex .flex__box {
  padding: 20px 0 0 0; }

.footer__info {
  flex: 0 1 100%;
  transition: flex .5s; }

.footer__info__link {
  text-decoration: none; }

.footer__rrss {
  flex: 0 1 100%;
  transition: flex .5s; }

.footer__rrss__link {
  text-decoration: none; }

.footer__rrss__link .icon {
  height: 2rem;
  padding: 0 1rem 0 0; }

@media only screen and (min-width: 1024px) {
  .footer__flex {
    text-align: left; }
  .footer__info {
    flex: 0 1 80%; }
  .footer__rrss {
    flex: 0 1 20%; } }

.example {
  max-width: 1280px;
  height: 80vh; }
