@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  src: url("../imports/typography/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'Bebas';
  font-style: normal;
  src: url("../imports/typography/BebasNeue-Regular.ttf"); }

@font-face {
  font-family: 'Wensley';
  font-style: normal;
  src: url("../imports/typography/Wensley.ttf"); }

body {
  background-color: #FFFAFA;
  margin: 0; }

.vcenter {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }

.header {
  align-items: center;
  background: url("../img/hero.jpg") no-repeat;
  max-width: 1280px;
  margin: auto;
  padding: 0;
  position: relative;
  z-index: 15; }

.header__grid {
  display: grid;
  grid-template-columns: 70% 30%; }

.header__title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  float: left; }

.header__img {
  padding: 10px;
  width: 80%; }

.header__menu {
  border-radius: 5px;
  color: white;
  float: right;
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  text-align: right;
  transition: background-color .2s; }

.header__menu .header__menu__link {
  text-align: center; }

.header__menu a {
  display: block; }

.header__menu__link {
  border-top: 1px white solid;
  color: white;
  font-size: .5rem;
  height: 2rem;
  opacity: 0;
  visibility: hidden;
  position: relative;
  text-decoration: none;
  transition: opacity .2s, visibility .2s;
  vertical-align: middle; }

.header__menu__link:hover {
  opacity: .3; }

.icon--menu {
  fill: white;
  height: 1.5rem;
  padding: .5rem;
  transition: fill .2s; }

.header__menu.responsive {
  background-color: #656262; }
  .header__menu.responsive .header__menu__link {
    opacity: 1;
    visibility: visible; }
  .header__menu.responsive .icon--menu {
    fill: white; }

@media only screen and (min-width: 768px) {
  .header__grid {
    grid-template-columns: 30% 70%; }
  .header__title {
    font-size: 3rem; }
  .header__img {
    width: 15rem; }
  .header__menu__responsive {
    display: none; }
  .header__menu {
    text-align: center;
    padding-top: 1rem; }
  .header__menu a {
    display: inline;
    padding: 1.5rem; }
  .header__menu__link {
    color: #656262;
    font-size: .8rem;
    opacity: 1;
    visibility: visible; }
  .icon--menu {
    display: none; }
  .header__menu.responsive {
    background-color: transparent; } }

.footer {
  margin: auto;
  max-width: 1280px;
  position: relative;
  z-index: 15; }

.footer__flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center; }

.footer__flex .flex__box {
  padding: 20px 0 0 0; }

.footer__info {
  flex: 0 1 100%;
  transition: flex .5s; }

.footer__info__link {
  text-decoration: none; }

.footer__rrss {
  flex: 0 1 100%;
  transition: flex .5s; }

.footer__rrss__link {
  text-decoration: none; }

.footer__rrss__link .icon {
  height: 2rem;
  padding: 0 1rem 0 0; }

@media only screen and (min-width: 1024px) {
  .footer__flex {
    text-align: left; }
  .footer__info {
    flex: 0 1 80%; }
  .footer__rrss {
    flex: 0 1 20%; } }

.music {
  max-width: 1280px;
  position: relative; }

.music__head__link {
  text-align: center;
  text-decoration: none; }

.music__head__grid {
  background: url("../img/music/back.jpg") no-repeat;
  background-size: auto 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  width: 100%; }

.music__head__description {
  color: white;
  font-family: "Wensley", sans-serif;
  font-size: 15px;
  padding-top: 10px; }

.music__head__img {
  width: 80%; }

.music__head__rrss .icon {
  height: 20px;
  padding: 0 20px 20px 0;
  opacity: .8; }

.music__head__rrss .icon--spotify {
  fill: #1db954; }

.music__head__rrss .icon--youtube {
  fill: #cc181e; }

.music__albums {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between; }

.music__album {
  height: calc(100vw/2);
  max-height: calc(1280px/3);
  position: relative;
  text-align: center; }

.music__album--ftdttg {
  background: transparent url("../img/music/ftdttg.jpg") no-repeat;
  background-size: 100%; }

.music__album--irtdh {
  background: transparent url("../img/music/irtdh.jpg") no-repeat;
  background-size: 100%; }

.music__album--oxymoron {
  background: transparent url("../img/music/oxymoron.jpg") no-repeat;
  background-size: 100%; }

.music__album__link {
  background-color: rgba(0, 0, 0, 0.95);
  font-family: "Montserrat Bold", sans-serif;
  color: white;
  height: 100%;
  position: absolute;
  opacity: 0;
  text-decoration: none;
  transition: opacity .2s;
  width: 100%; }

.music__album__link:hover {
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .music__head__grid {
    background-size: 100% auto;
    grid-template-columns: 50% 50%; }
  .music__head__description {
    font-size: 1.5rem; }
  .music__head__img {
    height: 17rem;
    width: auto; }
  .music__head__rrss .icon {
    height: 2rem; }
  .music__albums {
    flex-flow: row wrap; }
  .music__album {
    flex: 0 1 calc(100%/3);
    height: calc(100vw/3); } }

.store {
  margin: auto;
  max-width: 1280px;
  position: relative;
  z-index: 5; }

.store__title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0 1rem 0; }

.store__products {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap; }

.store__product {
  background-color: white;
  box-shadow: 0px 0px 15px -6px black;
  flex: 0 1 100%;
  font-family: "Montserrat Bold", sans-serif;
  text-align: center;
  transform: scale(0.99);
  transition: all .2s; }

.store__product__link {
  text-decoration: none; }

.store__img {
  height: 80%;
  filter: drop-shadow(0px 0px 2px #000000);
  transition: all .2s; }

.store__description {
  color: #656262;
  height: 19%; }

@media only screen and (min-width: 768px) {
  .store__products {
    flex-flow: row wrap; }
  .store__product {
    flex: 0 1 50%; } }

@media only screen and (min-width: 1024px) {
  .store__title {
    font-size: 4rem; }
  .store__products {
    flex-flow: row wrap;
    padding: 2rem 5rem 2rem 5rem; }
  .store__product {
    flex: 0 1 25%; }
  .store__product:hover {
    background-color: rgba(36, 36, 38, 0.1); }
    .store__product:hover .store__img {
      filter: drop-shadow(0px 0px 4px #000000);
      height: 80%; }
    .store__product:hover .store__description {
      opacity: 1; }
  .store__img {
    height: 90%; }
  .store__description {
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    opacity: 0; } }
