@font-face{
  font-family: 'Montserrat Bold';
  font-style: normal;
  src: url('../imports/typography/Montserrat-Bold.ttf');
}

@font-face{
  font-family: 'Montserrat Thin';
  font-style: normal;
  src: url('../imports/typography/Montserrat-Regular.ttf');
}

@font-face{
  font-family: 'Bebas';
  font-style: normal;
  src: url('../imports/typography/BebasNeue-Regular.ttf');
}

@font-face{
  font-family: 'Wensley';
  font-style: normal;
  src: url('../imports/typography/Wensley.ttf');
}


$font-family-montserrat: 'Montserrat Bold', sans-serif;
$font-family-montserrat-regular: 'Montserrat Regular', sans-serif;
$font-family-bebas: 'Bebas', sans-serif;
$font-family-wensley: 'Wensley', sans-serif;