$color-black:black;
$color-black-opacity:rgba(0, 0, 0, 0.95);
$color-black-opacity1:rgba(0, 0, 0, 0.2);
$color-gray-content:#656262;
$color-green-spotify:#1db954;
$color-red-youtube:#cc181e;
$color-white:white;
$color-white-snow:#FFFAFA;
$color-white-dirty:#fbfbfb;