$contact-max-width:$grid-content;
$contact-title-font-family:$font-family-bebas;
$contact-font-family:$font-family-montserrat;
$contact-font-color:$color-gray-content;
$contact-separator-color:$color-black-opacity1;

.contact{
  margin: auto;
  max-width: $contact-max-width;
  padding-bottom: 5rem;
  padding-top: 5rem;
  position: relative;
  text-align: center;
  z-index: 5;
}

.contact__grid{
  display: grid;
  grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3); 
}

.contact__title{
  font-family: $contact-title-font-family;
  font-size: calc(100vw/10);
  padding-bottom: 5rem;

}

.contact__img{
  height: calc(100vw/3);
  padding-top:3rem;
}

.contact__info{
  color: $contact-font-color;
  font-family: $contact-font-family;
  font-size: 1.5rem;
  text-align: center;
}

.contact__info h1{
  font-size: calc(100vw/25);
  color: black;
}

.contact__info h2{
  font-size: calc(100vw/30);
}

.contact__info .icon{
  height: 2rem;
}

.contact__press{
  border-top: 1px $contact-separator-color solid;
  margin-top: 5rem;
  padding-top: 5rem;
}

.contact__img--artgates{
  height: calc(100vw/10);
}

.contact__img--imminence{
  height: calc(100vw/6);
}

.contact__img--meltdown{
  height: calc(100vw/10);
}

.contact__sep{
  height: 10rem;
}

@media #{$breakpoints-medium} {


}

@media #{$breakpoints-large} {
  .contact__grid{
    grid-template-columns: 50% 50%;
  }
  .contact__title{
    grid-column: 1 / 3;
    font-size: 4rem;
  }

  .contact__img{
    height:10rem;
    padding-top:0;
  }

  .contact__info{
    font-size: 1rem;
    text-align: left;
  }

  .contact__info h1{
    font-size: 1.5rem;
  }

  .contact__info h2{
  font-size: .8rem;
  }

  .contact__info .icon{
    height: 1rem;
  }

  .contact__sep{
    grid-column: 1 / 3;
  }

  .contact__img--artgates{
    height: 2rem;
  }

  .contact__img--imminence{
    height: 3.3rem;
  }

  .contact__img--meltdown{
    height: 2rem;
  }
}

@media #{$breakpoints-xlarge} {

}