$home-max-width:$grid;
$home-font-family:$font-family-montserrat;
$home-font-color:$color-gray-content;
$home-icon--arrow-down:$color-gray-content;

.home{
  background: url('../img/hero.jpg') no-repeat;
  background-size: cover;
  color:$home-font-color;
  height: 100vh;
  font-family: $home-font-family;
  display:none;
  max-width: 100vw;
  position: relative;
  text-align: center;
  z-index: 5;
}

.home__grid{
  height: 100%;
  display: grid;
  grid-template-rows: 40% 20% 20% 10% 10%;
}

.home__img{
  padding-top: 100px;
  height: 5rem;
}

.home__menu{

}

.home__menu__link{
  color:$home-font-color;
  text-decoration: none;
  transition: opacity .2s;
  padding: 0 2rem 0 0;
}

.home__menu__link:hover{
  opacity: .5;
}

.home__languages{

}

.home__languages__link{
  color:$home-font-color;
  text-decoration:none;
  transition: opacity .2s;
}

.home__languages__link:hover{
  opacity: .5;
}

.home__rrss{

}

.home__rrss__link{
  text-decoration:none;
  transition: opacity .2s;
  padding: 0 1.5rem 0 0;
}

.home__rrss__link:hover{
  opacity: .5;
}

.home__rrss .icon{
  height: 1.8rem;
}

.icon--down-arrow{
  height: 5rem;
  opacity: 0;

 animation: scaleIn 1s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media #{$breakpoints-medium} {

}

@media #{$breakpoints-large} {

}

@media #{$breakpoints-xlarge} {

}