$music-max-width:$grid;
$music-head-description-font-family:$font-family-wensley;
$music-head-description-font-color:$color-white;
$music-head-icon-spotify-color:$color-green-spotify;
$music-head-icon-youtube-color:$color-red-youtube;
$music-info-background-color:$color-black-opacity;
$music-album-font-family:$font-family-montserrat;
$music-album-font-color:$color-white;

.music{
  margin:auto;
  max-width: $music-max-width;
  position: relative;
  z-index:5;
}

.music__head__link{
  text-align: center;
  text-decoration:none;
}

.music__head__grid{
  background: url('../img/music/back.jpg') no-repeat;
  background-size: auto 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  min-height:30rem;
  width: 100%;
}

.music__head__description{
  color: $music-head-description-font-color;
  font-family: $music-head-description-font-family;
  font-size: 2rem;
  padding-top: 5rem;
}

.music__head__img{
  width: 50%;
  padding-left:15rem;
  opacity: .8;
}

.music__head__rrss .icon{
  height: 20px;
  padding: 0 20px 20px 0;
  opacity: .8;
}

.music__head__rrss .icon--spotify{
  fill:$music-head-icon-spotify-color;
}


.music__head__rrss .icon--youtube{
  fill:$music-head-icon-youtube-color;
}

.music__albums{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.music__album{
  flex:0 1 100%;
  font-family: $music-album-font-family;
  font-size: 2.5rem;
  margin: auto;
  position: relative;
  text-align: center;
}

.music__album__link{
  color: $music-album-font-color;
  text-decoration: none;
}

.music__info{
  background-color: $music-info-background-color;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
  transition: opacity .2s;
}

.music__info:hover{
  opacity: 1;
}

.music__album__img{
  width: 100vw;
}

@media #{$breakpoints-medium} {

}

@media #{$breakpoints-large} {
  .music__head__grid{
    background-size: 100% auto;
    grid-template-columns: 50% 50%;
  }

  .music__head__description{
    padding-top: 0rem;
    font-size: 1.5rem;
  }

  .music__head__img{
    padding-left:10rem;
  }

  .music__head__rrss .icon{
    height: 2rem;
  }

  .music__albums{
    flex-flow: row wrap;
  }

  .music__album{
    flex: 0 1 calc(100%/3);
    font-size: 1rem;
  }

  .music__album__img{
    width: 100%;
  }

}

@media #{$breakpoints-xlarge} {

}