$store-max-width:$grid;
$store-tilte-font-family:$font-family-bebas;
$store-title-font-color:black;
$store-product-background-color:$color-white;
$store-product-font-family:$font-family-montserrat;
$note-font-family:$font-family-montserrat-regular;
$store-product-font-color:$color-gray-content;
$store-note-font-color:$color-gray-content;

.store{
  margin: auto;
  max-width:$store-max-width; 
  position: relative;
  z-index: 5;
}

.store__title{
  color: $store-title-font-color;
}

.store__products{
  display: flex;
  flex-flow:column wrap;
  flex-direction:row;
  justify-content: space-between;
  margin-bottom:5rem;
  margin: auto;
}

.store__product{
  font-family: $store-product-font-family;
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}

.store__img{
  width: 100%;
}

.store__description{
  background-color: $color-black-opacity;
  color: $color-white;
  height: 100%;
  position: absolute;
  top: 0;
  transition: opacity .2s;
  opacity: 0;
  z-index: 10;
  width: 100%;
}

.store__description:hover{
  opacity: 1;
}

.store__note{
  color: $store-note-font-color;
  font-family: $note-font-family;
  font-size: 1rem;
  margin-bottom: 5rem;
  text-align: center;
  font-style: italic;
  padding-top: 5rem;
}

@media #{$breakpoints-medium} {

}

@media #{$breakpoints-large} {

  .store__title{
    
  }

  .store__products {
    flex-flow:row wrap;
    width: 800px;
  }

  .store__product{
    flex: 0 1 calc(100%/4);
    overflow: hidden;
    padding: 10px;
  }

  .store__img{
    width: 100%;

  }

  .store__description{
    width: 100%;
  }
}

@media #{$breakpoints-xlarge} {

}