$tour-dates-max-width:$grid;
$tour-dates-title-font-family:$font-family-bebas;

.tour-dates{
  max-width:$tour-dates-max-width;
  position: relative;
  text-align: center;
  z-index: 5;
}

.tour-dates__title{
  font-family: $tour-dates-title-font-family;
  font-size: 3rem;
  font-style: bold;
  padding: 5rem 2rem 5rem 2rem;
}

.tour-dates__table{
  border-collapse: collapse;
  border-spacing: 0;
  font-size: .53rem;
  margin: auto;
  width: 95%;
}

.tour-dates__table--row{
}

.tour-dates__table td:nth-child(3), .tour-dates__table td:nth-child(4) , .tour-dates__table td:nth-child(5){
  position: absolute;
  visibility: hidden;
}

.tour-dates__table--head{
  border-bottom: 3px solid;
  border-color: #dddddd;
  font-weight: bold;
  line-height: 2rem;
}

.tour-dates__table--body{
  border-top: 1px solid;
  border-color: #dddddd;
  line-height: 3rem;
}


.tour-dates--link{
  text-decoration: none;
}

.tour-dates--button:hover{
  transform: scale(.8);
}

.tour-dates--button{
  background-color: black;
  border-radius: 9px;
  color: white;
  height: 1.5rem;
  width: auto;
  height: auto;
  transition: transform .2s;
  transform: scale(.7);
}

.tour-dates__event, .tour-dates__tickets{
  font-style: italic;
}

@media only screen and (min-width:768px) {
  .tour-dates__title{
    font-size: 5rem;
  }


  .tour-dates__table{
    font-size: .8rem;
  }

  .tour-dates__table td:nth-child(3), .tour-dates__table td:nth-child(4) , .tour-dates__table td:nth-child(5){
    position: static;
    visibility: visible;
  }
}

@media only screen and (min-width:1280px) {

}

@media #{$breakpoints-xlarge} {

}