$tour-dates-max-width:$grid-content;
$tour-dates-title-font-family:$font-family-bebas;
$tour-dates-ont-family:$font-family-montserrat;

.tour-dates {
  margin: auto;
  max-width: $tour-dates-max-width;
  position: relative;
  text-align: center;
  z-index: 5;
  }

.tour-dates__title {
  font-family: $tour-dates-title-font-family;
  font-size: 5rem;
  font-style: bold;
  padding: 5rem 2rem 5rem 2rem; 
}

.tour-dates__tour-dates {
  font-family: $tour-dates-ont-family;
  padding-bottom:5rem;
}

.tour-dates__tour-date {
  margin-bottom: 1rem;
  transition: background .2s, color.2s;
}

.tour-dates__tour-date:hover{
  background:#656262;
  color: white;

  .tour-dates__date, .tour-dates__info h3{
    color:white;
  }

}

.tour-dates__grid {
  border-collapse: collapse;
  display: grid;
  grid-template-columns: 20% 50% 15% 15%;
  text-align: left; 
}

.tour-dates__date {
  color: #656262;
  text-align: center;
  transition: color .2s;
}

.tour-dates__info {
  padding: 1rem; 
}

.icon--location {
  height: 1rem; 
}

.tour-dates__info h3 {
  color: #656262;
  font-weight: normal;
  transition: color .2s;
}

.icon--facebook1, .icon--tickets {
  height: 3rem;
  transition: opacity .2s;
}

.icon--facebook1:hover, .icon--tickets:hover{
  opacity: .2;
}

@media #{$breakpoints-medium}{

}

@media #{$breakpoints-large} {
  .tour-dates__title {
    font-size: 5rem; 
  }

  .tour-dates__tour-date h2 {
    font-size: 1rem; 
  }

  .tour-dates__tour-date h3 {
    font-size: .8rem; 
  } 
}

@media #{$breakpoints-xlarge} {

}