$header-max-width: $grid;
$header-title-font-family:$font-family-montserrat;
$header-menu-backgorund-color:$color-white;
$header-menu-font-family:$font-family-montserrat;
$header-menu-font-color1:$color-black;
$header-menu-languages-font-color:$color-gray-content;
$header-menu-font-color2:$color-white;
$header-menu-link-box-shadow:$box-shadow-litle;
$icon-menu-color:$color-white;
$icon-menu-color1:$color-black;

body{
  background-color:$color-white-snow;
  margin: 0;
}

.vcenter{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column
}

.header{
  align-items: center;
  background: url('../img/hero.jpg') no-repeat;
  max-width: $header-max-width;
  margin: auto;
  padding: 0;
  z-index: 15;
}

.header__grid{
  display: grid;
  grid-template-columns: 70% 30%;
}

.header__title{
  font-family:$header-title-font-family;
  font-size:2rem;
  font-weight: bold;
  float: left;
}

.header__img{
  padding: 10px;
  width: 80%;
}

.header__menu{
  color: $header-menu-font-color1;
  font-family:$header-menu-font-family;
  font-weight: bold;
  right: 0;
  text-align: right;
  transition: background-color .2s;
  position: absolute;
  width: 50%;
  z-index: 0;
}

.header__menu .header__menu__link{
  text-align: center;
}

.header__menu a{
  display: block;
}

.header__menu__link--languages{
  font-weight: normal;
}

.header__menu__link{
  border-top: 1px white solid;
  color: $header-menu-font-color1;
  font-size: .9rem;
  height: 2rem;
  opacity: 0;
  visibility: hidden;
  padding-top: 2.5rem;
  position: relative;
  text-decoration:none;
  transition: opacity .2s, visibility .2s;
  vertical-align: middle;
}

.header__menu__link:hover{
  opacity: .3;
}

.icon--menu{
  fill:$icon-menu-color;
  height: 1.5rem;
  padding: .5rem;
  transition: fill .2s;  
}

.header__menu.responsive{
  background-color:$header-menu-backgorund-color;
  height: 100%;
  z-index: 20;

  .header__menu{
  }

  .header__menu__link{
    opacity: 1;
    visibility: visible;
  }

  .icon--menu{
    fill:$icon-menu-color1;
  }
}

@media #{$breakpoints-medium} {
  .header__grid{
    grid-template-columns: 30% 70%;
  }

  .header__title{
    font-size: 3rem;
  }

  .header__img{
    width: 15rem;
  }

  .header__menu__responsive{
    display: none;
  }

  .header__menu{
    text-align: center;
    padding-top: 1rem;
    width: auto;
  }

  .header__menu a{
    display: inline;
    padding: 1.5rem;
  }

  .header__menu__link{
    color:$header-menu-font-color2;
    font-size: .8rem;
    opacity: 1;
    visibility: visible;
  }

  .header__menu__link--languages{
    color: $header-menu-languages-font-color;
    padding-right: 2rem;
  }

  .icon--menu{
    display: none;
  }

  .header__menu.responsive{
    background-color: transparent;
  }

}

@media #{$breakpoints-large} {

}

@media #{$breakpoints-xlarge} {

}